* {
    margin: 0;
}

body {
    background-color: rgb(34, 206, 94);
}

.cabecalho {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.cabecalho-titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.titulo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 4%;
}

.titulo-texto {
    color: rgb(255, 255, 255);
    margin: 5px;
}

.cabecalho-nav {
    display: flex;
    align-items: center;
}

.nav-lista {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-texto {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 20px;
}

.nav-texto:hover {
    color: rgb(34, 206, 94);
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal {
    display: flex;
    margin: 10%;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.principal-titulo {
    margin: 0px 0px 20px;
}

.principal-btn {
    display: flex;
    align-items: center;
}

.principal button {
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}

.btn-direita {
    margin: 20px;
}

.principal button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.principal a {
    color: rgb(255, 255, 255);
}

.formulario form {
    display: flex;
    flex-direction: column;
}