* {
    margin: 0;
}

body {
    background-image: url(./img/bg.jpeg);
    background-size: cover;
    background-position: center;
}

.cabecalho {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.cabecalho-titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 5%;
}

.titulo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 4%;
}

.titulo-texto {
    color: rgb(255, 255, 255);
    margin: 2px;
    cursor: pointer;
}

.cabecalho-nav {
    display: flex;
    align-items: center;
    margin: 20px 5%;
}

.nav-lista {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-texto {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 20px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-principal {
    display: flex;
    margin: 7% 10%;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.principal-titulo {
    margin: 0px 0px 20px;
    font-size: xx-large;
}

.principal-btn {
    display: flex;
    align-items: center;
}

.principal-btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.conteudo-principal button {
    padding: 8px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}

.btn-direita {
    margin: 20px;
}

.principal-subtitulo {
    font-size: x-small;
    display: flex;
    align-items: start;
}

.principal-subtitulo a {
    color: rgb(255, 255, 255);
}

.conteudo-secundario {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 7% 10%;
    padding: 20px 40px;
    border-radius: 5px;
    width: 17%;
}

.secundario-formulario {
    display: flex;
    flex-direction: column;
}

.formulario-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo2-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 10%;
    margin: 10px 2px;
}

.secundario-subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px;
}

.secundario-formulario input {
    margin: 0px 0px 10px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(19, 18, 18);
    color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
}

.secundario-lembrar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 10px;
}

.lembrar-texto {
    font-size: small;
}

.lembrarBtn {
    width: 30px;
    height: 16px;
    position: relative;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 35px;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
}

.lembrarBtn.active {
    background-color: rgb(34, 206, 94);
}

.lembrarBtn::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.lembrarBtn.active::before {
    left: 50%;
}

.secundario-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secundario-box hr {
    width: 100px;
}

.box-titulo {
    margin: 5px;
}

.secundario-btn-login {
    border: none;
    border-radius: 15px;
    padding: 8px;
}

.secundario-btn-login a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.secundario-btn-facebook {
    border: none;
    border-radius: 15px;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: rgba(31, 81, 189, 0.884);
}

.secundario-btn-facebook a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.secundario-penultimo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    margin: 10px;
}

.secundario-penultimo a {
    color: rgb(255, 255, 255);
    margin: 0px 5px;
}

.secundario-ultimo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    margin: 4px;
}

.secundario-ultimo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0px 5px;
}